<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>art qrcode</title>
    <script src="./js/art-qrcode.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div id="qrcode"></div>
</body>
<script>
    function generateQrCode() {
        let options = {
            text: "哈哈哈",
            width: 500,
            height: 500,
            codeWidth: 320,
            codeHeight: 320,
            top: 85,
            left: 80,
            materials: {
                border: "./materials/electron/border.png",
                eye: "./materials/electron/eye.png",
                row4: "./materials/electron/row4.png",
                col4: "./materials/electron/col3.png",
                row2col3: "./materials/electron/row2col3.png",
                row3col2: "./materials/electron/row3col2.png",
                col3: ["./materials/electron/col3.png", "./materials/electron/col3_2.png"],
                row2col2: "./materials/electron/row2col2.png",
                corner: "./materials/electron/corner.png",
                row2: ["./materials/electron/row2.png", "./materials/electron/row2_2.png"],
                col2: "./materials/electron/col2.png",
                single: ["./materials/electron/single.png", "./materials/electron/single_2.png"],
            }
        };
        new QRCode(document.getElementById("qrcode"), options);
    }

    // 普通二维码
    // new QRCode(document.getElementById("qrcode"), {
    //     text: "哈哈哈",
    //     width: 256,
    //     height: 256,
    //     colorDark: "#000000",
    //     colorLight: "#ffffff",
    //     typeNumber: 4,
    //     correctLevel: 1 // L: 1, M: 0, Q: 3, H: 2
    // });

    // 模板生成
    generateQrCode('electron');

</script>

</html>